

      .asteroid {
        position: absolute;
        top: 0%;
        right: 100px;
        z-index: 10;
          
        animation-duration: 6s;
        animation-name: asteroidDiag;
        animation-iteration-count: infinite;
          
        -moz-animation-duration: 6s;
        -moz-animation-name: asteroidDiag;
        -moz-animation-iteration-count: infinite;
      }
      
      @keyframes astroidDiag {
          0%       { transform: translatex(-30px) translatey(-30px) }
          100%     { transform: translatex( -2000px) translatey(2000px) }
        }
      
      
      @-moz-keyframes asteroidDiag {
        0%       { transform: translatex(-30px) translatey(-30px) }
        100%     { transform: translatex( -2000px) translatey(2000px) }
      }