/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*      
***************************************
*  
* Space Screen
* Interact with your spaceship, planets and spacestation and a blackhole
*
***************************************
*/


@font-face {
    /*font-family: 'PixelFont';*/
    /*src: url('Pixel.ttf');*/
}


* {
    /*font-family: 'PixelFont';*/
    font-size: 12px!important;
    


}

.space-Screen {
    /*font-family: PixelFont;*/
    color: #fff;
}

body  {

     overflowX: hidden;
     /*background-image: url('NebulastLogo.jpg');*/
     background-position: center center;
     background-repeat:  no-repeat;
     background-attachment: fixed;
    
     background-size:  cover;

     
}




.BGCLASS {
    background-image: url('BG005.jpg') ;
    height: 100%;
    width: 100%;
    bottom: 0; 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.BGCLASS-01 {
    background-image: url('BG001.jpg') ;
}


.BGCLASS-02 {

    background-image: url('BG002.jpg') ;

}



.space-Ship {
    position: absolute !important;
    top: 40%;
    left: 15px;
    z-index: 10;

}

.space-Station {
    position: absolute !important;
    left: 165px;
    top: 15%;
    height: 100px;
    width: 100px;
    z-index: 10;
}

.space-planet- {
    position: absolute !important;

    z-index: 10;
}

.planet-0 {
    right: 150px;
    float: right;
    top: 30%;
}

.planet-1 {
    right: 20px;
    float: right;
    top: 10%;
}

.planet-2 {
    right: 200px;
    float: right;
    top: 60%;
}

.space-Blackhole {
    position: absolute !important;
    float: right;
    right: 5px;
    top: 70%;
    z-index: 999;
    
}

.space-boss {
    position: absolute !important;
    float: right;
    left:50%;
    transform: translateX(-50%);
    top: 50%;
    z-index: 999;
}

.statsGroup {
    width: 120px;
    position: absolute;
    background-color: #000 !important;
    bottom: 5px;
    left: 5px;
}
.statsGroup2 {
    width: 120px;
    position: absolute;
    background-color: #000 !important;
    bottom: 5px;
    right: 5px;
}
.list-item {
    color:#fff !important;
    height: 30px;
    padding: 0px;
}
.button--outline {
    border: none!important;
}

/*       
***************************************
*  
* Scenario Screen
* 
*
***************************************
 */

.dialogueBox {
    position: relative;
}
.name {

    font-weight: 800;

}

.portrait-image {
    height: 100px;
    width: 100px;
    padding:5px;
}


img.portrait-image, p.name, p.dialogue, p.results {
    display: inline;
}

.p-box  {
    padding: 24px;
    display: inline;
    position: absolute;

    height:auto;
    /*background-color: #bbdefb;*/
}

/* conflict */
.-card {
    padding: 15px;

    margin: 5px;

    color: #fff;
    background-color: #3ccaf2;

    border: 3px dotted #fff;
}

.back {

    position:absolute;

    background:transparent;
    bottom: 20px;
    right: 20px;
    z-index: 16;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 70px solid #3ccaf2;
    border-bottom: 40px solid transparent ;


}

.back2 {

    position:absolute;

    bottom: 10px;
    right: 10px;
    z-index: 15;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 80px solid #fff;
    border-bottom: 50px solid transparent ;


}



.planet-container {
    text-align: center;
    /*padding: 20px;*/
    background: #000;
}
/* conflict check if working */

 /*        
***************************************
*  
* Space Station Screen
* 
*
***************************************
 */
 .spaceStation-card {
    z-index: 1000000;
    background: rgba(33,155,255,0.63);
    display: inline-block;
 }

 .shopContainer {
    z-index: 1000000;
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px;

 }

 .shopScreen {
    background-image: url('shopScreen.png');
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    width: 300px;
    left: 50%;
    z-index: 16;
    margin-left: -150px;
 }


 .waterIcon
 {
    background-image: url('WaterIcon.png');
    position: relative;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 10%;
    left: 10%;
    z-index: 16;
 }

 .waterMinusIcon-button
 {
    background-image: url('MinusIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 10%;
    left: 50%;
    z-index: 16;
 }

 .waterPlusIcon-button
 {
    background-image: url('PlusIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 10%;
    left: 70%;
    z-index: 16;
 }



 .foodIcon
 {
    background-image: url('FoodIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 30%;
    left: 10%;
    z-index: 16;
 }

 .foodMinusIcon-button
 {
    background-image: url('MinusIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 30%;
    left: 50%;
    z-index: 16;
 }

 .foodPlusIcon-button
 {
    background-image: url('PlusIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 30%;
    left: 70%;
    z-index: 16;
 }




 .fuelIcon
 {
    background-image: url('FuelIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 50%;
    left: 10%;
    z-index: 16;
 }

 .fuelMinusIcon-button
 {
    background-image: url('MinusIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 50%;
    left: 50%;
    z-index: 16;
 }

 .fuelPlusIcon-button
 {
    background-image: url('PlusIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 50%;
    left: 70%;
    z-index: 16;
 }

 .crewIcon
 {
    background-image: url('CrewIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 80%;
    left: 10%;
    z-index: 16;
 }

 .coinIcon
 {
    background-image: url('CoinIcon.png');
    position: absolute;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 70%;
    left: 10%;
    z-index: 16;
 }


 .spaceStation_background {
    position: absolute;
    width: 100vw;
    height: auto;
    bottom: 0;
    background-attachment: fixed;
    z-index: 15;
    left: 0;

}

.waterValue {
    position: absolute;
    top: 11%;
    left: 30%;
    color: white;
    font-size: 25px !important;
}

.coinValue {

    position: absolute;
    top: 71%;
    left: 30%;
    color: white;
    font-size: 25px !important;
}

.foodValue {

    position: absolute;
    top: 31%;
    left: 30%;
    color: white;
    font-size: 25px !important;
}

.fuelValue {

    position: absolute;
    top: 51%;
    left: 30%;
    color: white;
    font-size: 25px !important;
}
            
 /* 
***************************************
*  
* Ship Screen
* 
*
***************************************
*/


/*
***************************************
*
* SIDENAV
*
***************************************
*/



.sideNav {
    width: 10px;
    height: 0;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3ccaf2;
    border: 3px dotted #fff;
    overflow: hidden;
    transition: 0.5s;
    opacity: 0.0;
    -webkit-transition: 0.5s;

}

.sideNav-diamond {
    text-align: center;
}

.sideNavHeader {
    background: #80cbc4;
    color: #fff;
    font-size: 25px!important;
}
.stats {
    padding: 8px 8px 8px 32px;
    /*width: 100vw;*/
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px!important;
    color: #fff;
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.dataVal {
    display:inline-block;
    left: 50px;
    font-size: 20px!important;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.close {
    position: absolute;

    right: 25px !important;
    font-size: 36px;

    float: right;

}


.notify-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 600;

}

.notify {


    color: #fff;
    background-color: #3ccaf2;
    z-index: 99999;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px dotted #fff;
    padding: 10px;


}

.uiLabel {
    font-size: 14px !important;
    position: relative;
    color: #fff!important;
    z-index: 10000000;
}

.ok-button, .cancel-button {
    font-size: 20px !important;

    padding: 20px;
    display: inline;
    position: relative;
    color: #fff!important;
    z-index: 10000000;

}

.notify-buttons {
    position: relative;
    padding: 10px;
}
.hamburger img{
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}

.dialogueBox {
    color: #fff;
    background-color: #3ccaf2;

    border: 3px dotted #fff;

}

/***************************************
*
* Main Menu css
*
*
***************************************/

.startButton img, .loadButton img, .htpButton img {
    width: 50%;
    height: auto;
    top: 50%;
    position: relative;

}
.startButton, .loadButton, .htpButton {
    text-align: center;

}

.startOverlay img {

     overflow: hidden;
     width: 100%;
     height: auto;
     top: 0;
     left: 0;
     position: absolute;
     z-index: 600

 }

.menuScreen img {
    overflow: hidden;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
}





.image-container img{
    overflow: hidden;
    width: 100%;
    height: auto;
    top: 30%;
    left: 0;
    position: absolute;
    z-index: 600;
}

/***************************************
*
* Boss Screen css
*
*
***************************************/

.portrait-boss {
    float: right;
}

.boss-Action {
    position: absolute !important;
    top: 50%;
    right: 25px;
    z-index: 10;
}

.boss-rps {
    position: absolute;
    float: right;
    right: 25%;
}

.diamond-rps {
    position: absolute;
    float: left;
    left: 25%;
}

.rpsButton-container {
    position: absolute;
    bottom: 15px;
    left:50%;

    transform: translateX(-50%);

}

.rspButtons {
    padding: 20px;

}