<?xml version='1.0' encoding='utf-8'?>
<widget id="com.partywolf.www" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nebulast</name>
    <description>
        A Space Survival RPG Game
    </description>
    <author email="jonathan.turnbull8@gmail.com" href="http://cordova.io">
        Jonathan Turnbull and Josh Pujol
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="ldpi" src="splash/android/LDPI.png" />
        <splash density="mdpi" src="splash/android/MDPI.png" />
        <splash density="hdpi" src="splash/android/HDPI.png" />
        <splash density="xhdpi" src="splash/android/XHDPI.png" />
        <splash density="xxhdpi" src="splash/android/XXHDPI.png" />
        <splash density="xxxhdpi" src="splash/android/XXXHDPI.png" />
        <icon src="www/img/logo.png" />
    </platform>
    <splash src="splash.png" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Orientation" value="landscape" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^7.0.0" />
</widget>
